 /* CSS Reset  */
 *{
    margin: 0;
    padding: 0;
 }

 /* CSS Variables  */
 :root{
    --navbar-height:200px;
 }

 /* Navigation Bar  */
 #navbar{
    display: flex;
    align-items: center;
    position: relative;
    
    
 }

 /* Navigation Bar : Logo and Image  */
 #logo{
   margin: 0px 0px;
 }

 #logo img{
    height:150px;
    width: 180px;
 }

 /* Navigation Bar : List Styling  */
 #navbar ul{
   display: flex;
 }

 
 #navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   top:0px;
   left:0px;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.6;
 }

 #navbar ul li{
   list-style: none;
   font-size: 1.7rem;
 }

 #navbar ul li a{
   display: block;
   padding: 3px 34px;
   border-radius: 20px;
   text-decoration: none;
   color:white;
 }
 #navbar ul li a:hover{
   color: black;
   background-color: white;
 }



 /* Home Section Code  */

 #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 350px;
    justify-content: center;
    align-items: center;
 }

 #home::before{
  content: "";
   background:url(../spoon-g133a9ea6d_1280.jpg) no-repeat center center/cover;
   position: absolute;
   top:0px;
   left:0px;
   height: 81%;
   width: 100%;
   z-index: -1;
   opacity: 0.89;
 }

#home h1{
  color:#28231A;
  text-align: center;
}

#home p{
  color: #28231A;
  text-align: center;
  font-size: 1.2rem;
}
 /* Services Section  */
#services{
  margin: 34px;
  display:flex;
}

#services .box{
  border:4px solid #5F523D;
  padding:34px;
  margin:3px 23px;
  border-radius: 23px;
  background-color: whitesmoke;
}

#services .box img{
  height: 130px;
  margin:auto;
  display:block;
}

#services .box p{
  font-family:'PT Serif', serif;
}

 /* Client-Section */

 #client-section{
  position: relative;
    height:344px;
 }

 #client-section::before{
  content: "";
  position:absolute;
  background: url(../grey.jpg);
  width: 100%;
  height: 100%;
  z-index: -1;

 }
 #client{
    display:flex;
    justify-content: center;
    align-items: center;
 }

 .client-item{
  padding: 34px;
 }
 #client img{
  height: 124px;
 }

 /* contact-section */
 #contact{
  position: relative;

 }

 .contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;
 }

 .contact-box form{
  width: 40%;
 }

 .contact-box label{
  font-size: 1.3rem;
  font-family: 'PT Serif', serif;
 }
 #contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url(../pg2.jpg) no-repeat center center/cover;
 }

 footer{
  background-color: #222f3d;
  color:white;
  padding: 9px 20px;
 }

 .contact-box input,
 .contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
 }
 /* Utility Classes  */
 .h-primary{
  font-size: 3.8rem;
  padding: 12px;
  font-family: 'PT Serif', serif;
 }

 .h-secondary{
  font-family: 'PT Serif', serif;
  font-size: 2.4rem;
  padding: 12px;
 }

 .btn{
  padding: 6px 20px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #5F523D;
  color:white;
  margin:20px;
  font-size: 1.5rem;
  cursor:pointer;
 }

 .center{
  text-align: center;
 }

 
